/* DEVELOPER: Maksim Nizhegorodtsev, IS117-005, Fall 2019 */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: white;
}

header {
	width: 100%;
	padding: 20px 0 30px 0;
	background-color: #e4000f;
	margin-bottom: 20px;
}

header img {
	float: left;
	position: absolute;
	margin-left: 25px;
}

main {
	text-align: center;
	border-left: 15px solid #e4000f;
	border-right: 15px solid #e4000f;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	margin: 0 auto;
}

main p {
	margin: 20px 10% 50px 10%;
	line-height: 115%;
	font-size: 125%;
}

main img {
	width: 80%;
}

.screenshot {
	padding-bottom: 20px;
	padding-top: 50px;
}

.screenshot img {
	text-align: center;
	display: inline-block;
	width: 40%;
	padding: 10px;
}

#imgheader {
	width: 40%;
}

#buynowbutton {
	color: white;
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
	background-color: #e4000f;
	border: 15px solid #e4000f;
	padding: 0px 20px;
	border-radius: 500px;
}

#nav_menu {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	list-style-type: none;
	position: relative;
	display: inline-block;
}

#nav_menu li {
	font-size: 170%;
	text-align: center;
	padding: 5em;
	width: 150px;
	display: inline;
}

#nav_menu li a.current {
	color: black;
}

#nav_menu li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline-block;
	padding: 20px;
}

#submenu:hover ul {
	display: block;
	width: 100%;
	font-size: 50%;
	background-color: #36454f;
	color: white;
}

#nav_menu li ul {
	display: none;
	list-style-type: none;
	margin-top: 2em;
	position: absolute;
}

/* the styles for the footer */
footer {
	margin-top: 20px;
	background-color: #e4000f;
	font-size: 90%;
	line-height: 150%;
	font-weight: lighter;
	padding-top: 2em;
	padding-bottom: 2em;
	clear: both;
}

footer p {
	text-align: center;
	color: white;
}